body {
    margin: 30px auto;
    width: 70%;
}
nav ul {
    font-family:'Optima';
    padding: 0px;
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
}
footer ul {
    font-family:'Optima';
    padding: 0px;
    list-style: none;
    font-size: 1em;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
    background-color: #87CEFA;
}
h1 {
    font-size: 3em;
    font-family:'Optima';
}
p {
    font-size: 1.5em;
    font-family:'Optima';
    line-height: 1.25em;
    color: #000000;
}
footer {
    border-top: 1px solid #000000;
    font-size: 1.25em;
    font-family:'Optima';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 2em;
    font-family:'Optima';
}

ul.posts li {
    list-style: none;
}
